name: Rust

on:
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --verbose

      - name: Install Rust
        uses: dsherret/rust-toolchain-file@v1

      - name: Install protoc
        uses: arduino/setup-protoc@v2
        with:
          version: "21.12"
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Check formatting
        run: cargo fmt -- --check

      - name: Check linting
        run: cargo clippy --all-targets --all-features -- -D clippy::all

      - name: Build
        run: cargo build -v

      - name: Test
        run: cargo test -v
